streamlit>=1.32.0
langchain>=0.1.13
langchain-google-genai>=1.0.1
chromadb>=0.4.24
python-dotenv>=1.0.1
unstructured>=0.12.5
markdown>=3.5.2
beautifulsoup4>=4.12.3
pandas>=2.2.1
langchain-chroma
jq
pypdf
docx2txt
openpyxl
python-pptx
langchain-text-splitters
langchain-community
langchain-classic
